/* Dashboard Main Content Layout */
#main{
    margin-top: 5px;
}
.dashboard-content {
    padding: 20px;
    padding-top: 20px;
}

.dash-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 25px;
}

.dash-header h1 {
    color: #1a237e;
    font-size: 24px;
}

.btn-backup {
    background: lab(3.09% 0.28 0.1); 
    color: #0af680; 
    padding: 10px 20px; 
    border-radius: 8px; 
    text-decoration: none; 
    font-weight: 600;
}

/* Statistics Cards */
.stats-grid {
    display: flex; 
    gap: 20px; 
    margin-bottom: 25px; 
    flex-wrap: wrap;
}

.stat-card {
    background: white; 
    padding: 20px; 
    border-radius: 12px; 
    flex: 1; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.blue-border { border-top: 4px solid #2575fc; }
.green-border { border-top: 4px solid #10b981; }

.stat-card h3 { font-size: 11px; color: #64748b; text-transform: uppercase; margin: 0;}
.stat-card p { font-size: 26px; font-weight: 700; color: #1a2a6c; margin: 10px 0 0 0; }

/* Filters */
.filter-section {
    background:white ;
    padding: 20px; 
    border-radius: 15px; 
    margin-bottom: 25px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.filter-form {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)); 
    gap: 10px;
}

.filter-form input, .filter-form select {
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 8px;
}

.btn-apply { background: #2575fc; color: white; border: none; padding: 10px; border-radius: 8px; cursor: pointer; font-weight: 600; }
.btn-reset { background: #eee; text-decoration: none; padding: 10px; border-radius: 8px; color: #333; font-size: 12px; text-align: center; line-height: 22px; }

/* Table Container */
.table-container {
    background: white; 
    padding: 20px; 
    border-radius: 15px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.05); 
    overflow-x: auto;
}
.not{
    border: none ;
    color : red ;
    align-self: center;
    font-weight: 1000;
}

table { width: 100%; border-collapse: collapse; }
th { padding: 12px; text-align: center; color: hsl(240, 9%, 98%); font-size: 13px; background: #1a5590; border-bottom: 2px solid hsl(210, 75%, 5%); border: 2px solid black ;}
td { padding: 12px; border-bottom: 1px solid #00070d;  text-align: center; border:2px solid #00070d;}

.bold-text { font-weight: 700; }
.class-badge { background: #e0e7ff; color: #4338ca; padding: 4px 10px; border-radius: 20px; font-size: 11px; font-weight: 600; }
.view-link { color: oklch(72.108% 0.14611 242.378); text-decoration: none; font-weight: 600; }
.no-data { text-align: center; padding: 30px; color: #94a3b8; }

.footer-credit { text-align: center; margin-top: 30px; font-size: 12px; color: #94a3b8; }