body{
    background-color: rgb(101, 164, 164);
}
.busfees{
    position: relative;
    left: 20% ;
    align-self: center;
    color : #a983d7 ;
}

.container {
    border : 2px solid black ;
  width: 65% ;
    margin: auto;
    background-color: rgb(218, 182, 151);
    padding : 30px ;
    flex-wrap: wrap;
}
.container2 {
    border : 2px solid black ;
  width: 60% ;
    margin: auto;
    background-color: rgb(255 231 155);
    padding : 30px ;
    flex-wrap: wrap;
}
.container3 {
    border : 2px solid black ;
  width: 60% ;
    margin: auto;
    background-color: rgb(128 204 102 / 63%);
    padding : 30px ;
    flex-wrap: wrap;
}
p{
    color : #a44a4a ;
    text-decoration: underline BLACK ;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


H1{
text-align: center;
text-decoration: underline;
color : red ;
font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: cursive;
    font-weight: 900;

}
h2 {
    text-align: center;
    color : green ;
    font-family: cursive;
    font-weight: 900;
}
form{
    display : flex ;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: auto; */
    font-weight: 800;
}
input {
    /* border-radius: 2rem; */
    border : 2px solid black ;
    height : 30px ;
    text-indent: 12px ;
    padding : 5px ;
    margin-left: 2px ;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox ke liye */
input[type=number] {
  -moz-appearance: textfield;
}
.btn{
background-color: #2563eb; /* Blue */
    color: white;
    border: none;
    font-weight: bold;
    transition: background 0.3s ease;
    width: 130px ;
    align-self: flex-end;
}

.select{
    border: 2PX solid black;
    height : 30px ;
    width: auto;
    background-color:white;
}

/* row ko style de rha hu yha se class =row h  */
.prow{
background-color: #ffffff; /* White background for form */
    border: 1px solid #e2e8f0; /* Halka border */
    border-radius: 8px; /* Thode soft corners */
    padding: 25px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); /* Halka shadow */
}
.row{
    margin: auto;
    row-gap: 10px ;
    display: flex ;
    flex-direction: row;
    /* gap: 20px ; */
 align-items: center;
    flex-wrap: wrap;
   
    align-items: flex-end;
  gap: 20px ;  
}

.row>div{
    display: flex;
    flex : 1 ;
    flex-direction: column;
}

.btn:hover {
    background-color: greenyellow; /* Darker blue on hover */
}

.links{
    width: 65%;
margin: auto;
background-color: rgba(0, 0, 0, 0.899);
    margin-top: auto;
    display : flex ;
    flex-direction: row;
    flex : 1 ;
    column-gap: 35% ;
    align-content: center;
}
button{
        background-color: rgb(9, 9, 14);
    color : white ;
    font-weight: 800;
border-radius: 0.4rem;
}
button:hover{
 background-color: chartreuse;color: #f20707;
}
