.container {
    border : 2px solid black ;
  width: 50% ;
    margin: auto;
    background-color: rgb(199, 220, 236);
    padding : 30px ;
}
p{
    color : rgb(237, 2, 2) ;
    text-decoration: underline BLACK ;
}


H1{
text-align: center;
text-decoration: underline;
color : red ;
font-family: Georgia, 'Times New Roman', Times, serif;

}
h2 {
    text-align: center;
    color : green ;
}
form{
    display : flex ;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: auto; */
    font-weight: 800;
}
input {
    border-radius: 2rem;
    border : 2px solid black ;
    height : 30px ;
    text-indent: 12px ;
    padding : 5px ;
}
.btn{
    width: 200px ;
    height : 30px ;
background-color: rgb(220, 162, 45);
    color : #62b5d9 ;
    align-self: center;
    margin : 10px ;
    border-radius: 2rem;
}

.select{
    border: 2PX solid black;
    height : 30px ;
    width: auto;
    background-color:white;
}
