*{
    padding : 0 ;
    margin: 0;
}
.heading{
text-align: center;
    color : rgb(5, 7, 7) ;
    font-family: 800;
    /* text-decoration: underline; */
    margin: 0 auto ;
}
.rn{
    color : red ;
    text-decoration: underline;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-weight: bold;
}

.container {
    position : relative;
    background-color: white ;
    color: rgb(53, 53, 235) ;
    border: .2px solid black ;

    width: 795px; height: 350px;
    margin:0 auto;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.sign{
    display: flex;
  position: relative;
  left: 660px;
}
.containerslip {
    background-color:white ;
    color: black ;
    padding: 20px ;
    /* border: 2px solid black ; */
    width: 750px ; height: 230px;
    margin: auto;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.frow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.frow>div{
    display: flex; 
  flex: 1;
  flex-direction: column;
}

.name{
    margin: 20px ;
 font-family: 'Times New Roman', Times, serif;
 font-weight: 500;
 
}

@media print {
    .no-print {
        display: none;
    }
     }

     .no-print{

                    align-self: flex-end;
background-color : white ; color: rgb(1, 4, 0);
     }